@import 'src/styling/_mixins/screen-size'
@import 'src/styling/_mixins/vars'
@import 'src/styling/_mixins/rem'

.ResultTable
  width: 48%
  @include respond-to(sm)
    width: 100%
    margin-bottom: 25px
  tbody
    tr
      box-sizing: padding-box
      &:first-child
        td
          color: #000
          font-weight: 700
          padding: rem(0 0 10px 0)
          font-size: rem(25px)
      &:nth-child(2)
        td
          color: #000
          font-weight: 600
          padding: rem(5px)
          font-size: rem(20px)
      td
        width: 50%
        padding: rem(5px)
        color: $blue