@import 'src/styling/_mixins/normalize'

@import 'src/styling/_mixins/screen-size'
@import 'src/styling/_mixins/vars'
@import 'src/styling/_mixins/rem'

*
  padding: 0
  margin: 0
  box-sizing: border-box
  &:after,
  &:before
    box-sizing: border-box

html
  @include rem-baseline
  @include respond-to(lg)
    @include rem-baseline(90%)
  @include respond-to(md)
    @include rem-baseline(85%)
  @include respond-to(sm)
    @include rem-baseline(70%)

html, body
  height: 100%

body
  font-size: rem(18px)
  min-width: 320px
  position: relative
  line-height: 1.3
  font-family: $defaultFont
  overflow-x: hidden
  cursor: default
  font-weight: 400
  input, textarea
    outline: none
    font-family: $defaultFont

.trans
  transition: all .3s ease

a
  @extend .trans
  outline: none
  text-decoration: none
  display: inline-block
  &:hover
    text-decoration: none
    outline: none

button
  @extend .trans
  outline: none
  text-decoration: none
  display: inline-block
  background-color: transparent
  border: none
  font-family: $defaultFont
  cursor: pointer
  &:hover
    text-decoration: none
    outline: none

section
  position: relative

.App
  position: relative

input,
textarea,
select
  font-family: $defaultFont
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  -webkit-box-shadow: none
  -moz-box-shadow: none
  outline: none
  opacity: 1
  border: 1px solid gray
  border-radius: 3px
  padding: rem(10px)
  box-shadow: 0 3px 5px rgba(gray,.2)

input
  &:hover
    border-color: $blue
  &:focus
    box-shadow: 0 0 15px rgba($blue, .3)

select
  cursor: pointer
  &:hover
    border-color: $blue
  &:focus
    background: $gray
  option
    background: #fff

.but
  border: 1px solid transparent
  padding: rem(10px 20px)
  border-radius: 3px
  margin-left: rem(15px)
  &:active
    box-shadow: inset 1px 3px 3px rgba(0,0,0,.4)
  &-apply
    background: $blue
    color: #fff
    &:hover
      background: darken($blue, 10%)
  &-clear
    color: gray
    border-color: gray
    &:hover
      color: red
      border-color: red