@import 'src/styling/_mixins/rem'
@import 'src/styling/_mixins/vars'

.Filter
  &__form
    width: 100%
    margin-bottom: rem(40px)
    padding-bottom: 30px
    border-bottom: 1px solid gray
  &__result
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__add-condition
    margin: rem(25px 0 15px)
    padding-bottom: rem(30px)
    border-bottom: 1px solid gray
    button
      color: $blue
      font-weight: 600
      position: relative
      padding-left: rem(40px)
      line-height: 1
      &:hover
        color: lightblue
      &:disabled
        color: gray
        opacity: .3
      &:before
        content: '+'
        position: absolute
        left: rem(15px)
        top: 50%
        transform: translateY(-50%)
        font-size: rem(27px)
