@import 'src/styling/_mixins/screen-size'
@import 'src/styling/_mixins/rem'

.Conditions
  width: 100%
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between
  margin-top: rem(30px)
  &__inputs-wrapper
    position: relative
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    button
      margin-top: -15px
      font-weight: 700
      color: gray
      font-size: rem(25px)
      &:hover
        color: red
      @include respond-to(sm)
        margin-top: -30px
  &__inputs
    width: calc(100% - 30px)
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 15px
    @include respond-to(sm)
      margin-bottom: 30px
    input, .SelectInner
      width: 32%
    input
      @include respond-to(sm)
        width: 100%
    .SelectInner
      position: relative
      @include respond-to(sm)
        width: 48%
        margin-bottom: 10px
      &:after
        content: ''
        position: absolute
        right: 15px
        top: 45%
        transform: translateY(-50%) rotate(45deg)
        border: solid black
        border-width: 0 3px 3px 0
        display: inline-block
        padding: 4px
      select
        width: 100%
